:root {
  --bg-black: #0f0f0f;
  --text: #f8f8f8;
  --mobile-box-shadow: #b0b0b229 0px -5px 6px 0px inset,
    #0000003d 4px 6px 11px 1px inset;
  --mobile-bg: #272b2d;
  --white-bg: #f8f8f8;
  --bg-green: #027757;
  --bg-gray: #272727;
  --link-blue: #7ea2ec;
  --bg-light-gray: #272b2d6e;
  --bg-red: #ee2f4c;
  --bg-purple: rgb(90, 30, 203);
  --bg-blue: rgb(26, 97, 233);
}

.max-width {
  margin: auto;
  max-width: 70vw;
}

.flex {
  display: flex;
}

.absolute-center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.photo-section {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}

.photo-section-child {
  padding: 240px 0px 180px;
}

.photo-section-heading {
  font-size: 100px;
  line-height: 96px;
  font-weight: 700;
  max-width: 700px;
}

.photo-section-subheading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  max-width: 630px;
  margin-top: 16px;
}

.photo-section-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  max-width: 630px;
  margin-bottom: 40px;
  margin-top: 200px;
}

.footer {
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  -webkit-box-pack: unset;
  justify-content: unset;
}

@media all and (max-width: 1279px) {
  .max-width {
    max-width: 80vw;
  }
  .photo-section-heading {
    max-width: 670px;
  }

  .photo-section-child {
    padding: 100px 0px;
  }
}

@media all and (max-width: 767px) {
  /* .max-width {
    max-width: 90vw;
  } */

  .hide-for-mobile {
    display: none !important;
  }

  .photo-section-heading {
    font-size: 65px;
    line-height: 58px;
  }
  .photo-section-subheading {
    font-size: 18px;
    line-height: 24px;
    margin-top: 26px;
  }
  .photo-section-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 500px;
  }

  .photo-section-child {
    padding: 195px 0px 90px;
  }
}

@media all and (min-width: 766px) {
  .show-only-for-mobile {
    display: none !important;
  }
}
